{{> menu}}

<form class="box"  action="/club/{{sportground._id}}/updateclub/{{club._id}}" method="POST">
  <label>Update Club Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="clubname" value="{{club.clubname}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="description" value="{{club.description}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="county" value="{{club.county}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="latitude" value="{{club.latitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="longitude" value="{{club.longitude}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Club</button>
</form>